<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<!-- Conexion a la BD-->
    <connectionStrings>
        <add name="EurekaDB"
             connectionString="Data Source=Laptop-EDGM\SQLEXPRESS;Initial Catalog=eurekabank_soap_dotnet;User ID=sa;Password=root;Persist Security Info=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Pooling=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>	

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  
  	<services>
      <service name="Eurekabank_Soap_Dotnet.ec.edu.monster.ws.EurekabankWS" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  contract="Eurekabank_Soap_Dotnet.ec.edu.monster.ws.IEurekabankWS" />
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>
	  
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="ec.edu.monster.ws/EurekabankWS.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>